# Habilitar o modo de reescrita
RewriteEngine On

# Se o arquivo solicitado não existir, redirecionar para o index.php
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php [QSA,L]